@media screen and (max-width: 858px) {
  .header {
    display: none;
  }

  .menu-mobile {
    width: 100%;
    height: 6.2rem;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
  }

  .menu {
    font-size: 1.6rem;
    color: #fff;
    background-color: #333;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: fixed;
    top: 0;
    right: 0;

    height: 100vh;

    padding: 2rem;

    display: none;
  }

  .hamburguer div {
    width: 3.2rem;
    height: 0.2rem;
    background: #000;
    margin: 0.8rem;
  }

  .hamburguer-links:hover {
    color: #333;
    background-color: #e0e0e0;
  }

  .box-menu:hover .menu {
    display: flex;
  }

  .header-wrapper {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    display: block;
    width: 100%;
  }

  .new-transaction {
    margin-top: 3.2rem;
    max-width: 100%;
  }

  .form {
    width: 100%;
    display: flex;
    column-gap: 2rem;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 2rem;
  }

  .transaction {
    width: 20%;
    margin: 0 1rem;
  }

  .commodity-name {
    width: 40%;
  }

  .button {
    padding-top: 2rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;

    width: 30%;
  }
}

@media screen and (max-width: 682px) {
  .menu {
    width: 80vw;
  }

  .new-transaction {
    padding: 0;
    border: none;
  }

  .title-new-transaction {
    display: none;
  }

  .form {
    display: block;
    width: 100%;
    padding: 0;
  }

  .transaction {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .button {
    display: block;
    width: 100%;
    display: block;
    padding: 0;
  }

  hr {
    display: block;
  }

  .transaction-statement {
    padding: 2rem 0;
  }
}
